<div class='container'>
	<div class='chooseTeam' ng-show='chooseTeamShow'>
		<button ng-click='chooseTeam(1)'>Team 1</button>
		<button ng-click='chooseTeam(2)'>Team 2</button>
	</div>
	<div class='addtoBucket' ng-show='addtoBucketShow'>
		<form name='addItemForm' ng-show='addtoBucketInputShow'>
			<input type='text' ng-name='addItemInput' ng-model='addItemInput' placeholder='Item'></input>
			<button ng-click='addItem(addItemInput)' ng-disabled="!addItemInput">Add Item</button>
		</form>
		<div class='addtoBucketConfirm' ng-show='addtoBucketConfirmShow'>
			<button ng-click='dumpInBucket()'>Dump in Bucket</button>
		</div>
		<div ng-repeat='item in addtoBucket'>
		{{item.item}}
		</div>
	</div>
	<div class='gameplay' ng-show='gameplayShow'>
		{{bucket.length}} items left in the Bucket!
		<button ng-click='startGame()' ng-show='true'>Start Game!</button>
	</div>
</div>